.demo.demo-echo {
  display: flex;
  padding: 128px 0;
  align-items: center;
  justify-content: space-evenly;

  .subject {
    &.exiting {
      transform-origin: center;
      transition:
        transform 1s ease-out,
        visibility 1s linear,
        opacity 1s ease-out;
    }

    &.did-exit {
      transform: translate(100%, 100%) rotate(720deg) scale(0);
      visibility: hidden;
      opacity: 0.2;
    }
  }
}
